
.button-row {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.with-nav {
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 1000;
}

.disable-effect {
    background-color: rgba(31, 31, 31, 0.85);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.disable-effect:hover {
    background-color: #424242;
}