.container {
    max-width: 750px;
    background: rgba(30, 34, 40, 0.85); /* deep-steel semitrasparente */
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: 1px solid var(--steel-variant);
    color: var(--light-silver);
}

h2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--craft-gold);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.login-register-button {
    width: 100%;
    padding: 12px;
    background-color: var(--craft-gold);
    color: var(--obsidian-base);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s;
}

.login-register-button:hover {
    background-color: var(--gold-variant);
    transform: translateY(-1px);
}

.section-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--light-silver);
    margin-bottom: 0.5rem;
    display: block;
}

.checkbox-box {
    max-height: 180px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid var(--steel-variant);
    border-radius: 8px;
    background-color: var(--obsidian-base);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin-left: 5px;
}

input[type="number"]{
    -moz-appearance: textfield;
    appearance: textfield;
}

.error-div{
    background-color: #E74C3C; /* Rosso attenuato */
    border-radius: 15px;
    padding: 15px;
    width: 100%;
}
p.error-message {
    color: white;
}

.checkboxes-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    padding: 15px;
    background-color: var(--obsidian-base);
    border-radius: 10px;
    border: 1px solid var(--steel-variant);
}

.checkbox-label {
    position: relative;
    width: auto;
    text-transform: capitalize;
    height: 40px;
    background: var(--deep-steel);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    color: var(--muted-silver);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 0 1.5px rgba(255,255,255,0.05) inset;
    overflow: hidden;
    transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.checkbox-label input {
    display: none;
}


.checkbox-label:has(input:checked) {
    background-color: var(--craft-gold);
    box-shadow: 0 0 0 2px var(--craft-gold) inset;
    color: var(--obsidian-base);
}

.checkbox-label:has(input:checked)::after {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}