.container {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.73);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

h2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: #212529;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.login-register-button {
    width: 100%;
    padding: 12px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s;
}

.login-register-button:hover {
    background-color: #0b5ed7;
    transform: translateY(-1px);
}

.section-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: #495057;
    margin-bottom: 0.5rem;
    display: block;
}

.checkbox-box {
    max-height: 180px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    background-color: #e2e2e2;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin-left: 5px;
}

input[type="number"]{
    -moz-appearance: textfield;
    appearance: textfield;
}

.error-div{
    background-color: #f44336;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
}
p.error-message {
    color: white;
}

.checkboxes-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    border: 1px solid #e5e7eb;
}

.veicolo-label {
    position: relative;
    width: auto;
    text-transform: capitalize;
    height: 40px;
    background: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    color: var(--notActiveCheck);
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.15) inset;
    overflow: hidden;
    transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.veicolo-label input {
    display: none;
}


.veicolo-label:has(input:checked) {
    box-shadow: 0 0 0 2px var(--activeCheck) inset;
    color: #000;
}

.veicolo-label:has(input:checked)::after {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

